//Noto Sans JP
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
//icon font
@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?3mqe8c');
    src: url('/fonts/icomoon.eot?3mqe8c#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3mqe8c') format('truetype'), url('../fonts/icomoon.woff?3mqe8c') format('woff'), url('../fonts/icomoon.svg?3mqe8c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hatebu:before {
    content: "\e900";
}

.icon-pocket:before {
    content: "\e901";
}

.icon-google-plus:before {
    content: "\ea8b";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-twitter:before {
    content: "\ea96";
}