//footer
.footer{
  width: 100vw;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;

  background: linear-gradient(180deg, #7A7878 0%, #000000 58.01%);

  display: flex;
}

.footer-content {
  position: relative;
  height: 100%;

  &.left {
    width: 100px;

  }
}

.footer-btn-area {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 70px;
  width: 70px;
  padding: 10px;
  box-sizing: border-box;

  overflow: hidden;

  background: linear-gradient(180deg, #7A7878 0%, #000000 84.01%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  .footer-btn {
    font-size: 13px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00B93B 16.26%, #000000 81%);
  }
}


