@charset "utf-8";
@import '~mathsass/dist/math';

body {
    //background-color: #333;
}

@import "variables";
@import "functions";
@import "temporary";
/* ---------------------------------------------------------
Foundation
--------------------------------------------------------- */

@import "foundation/variable";
@import "foundation/mixin";
@import "foundation/webfont";
// @import "foundation/setting";
@import "foundation/reset";

/* ---------------------------------------------------------
Layout
--------------------------------------------------------- */

@import "layout/_page.scss";
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "layout/_main.scss";
@import "layout/_common.scss";

/* ---------------------------------------------------------
Component
--------------------------------------------------------- */

@import "component/_background.scss";
@import "component/_button.scss";
@import "component/_flexbox.scss";
@import "component/_form.scss";
@import "component/_input.scss";
@import "component/_font.scss";
@import "component/_color.scss";
@import "component/_margin.scss";
@import "component/_menu.scss";

/* ---------------------------------------------------------
Object
--------------------------------------------------------- */

@import "page/_entry.scss";
@import "page/_rpg-top.scss";
@import "page/_guild-top.scss";
@import "page/_mypage.scss";
@import "page/_mypage-modal.scss";
@import "page/_party-entry.scss";
@import "page/_party-management.scss";
@import "page/_party-detail.scss";
@import "page/_search.scss";
@import "page/_party-search.scss";
@import "page/_landing.scss";
@import "page/_party-list.scss";
@import "page/_participation-request.scss";
@import "page/_notification.scss";
@import "page/_scout.scss";
