
//entry
.entry{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.entry-header{
  padding: 12px 18px;
  border: 1px solid #C39300;
  border-style: ridge ridge none;
  background: #5A3A1A;
}

.entry-body{
  position: relative;
  height: 309px;
  padding: 12px 18px;
  border: 1px solid #C39300;
  border-radius: 0 0 5px 5px;
}

.entry-title {
  font-size: 15px;
  color: white;
}

.entry-form {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}
