
//entry
.entry{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  margin: auto;
  transform: translate(-50%, -50%);
}

.entry-header{
  padding: 12px 0;
  border: 1px solid #C39300;
  border-style: ridge ridge none;
}

.entry-body{
  position: relative;
  height: 320px;
  padding: 18px 21px;
  border: 1px solid #C39300;
  border-radius: 0 0 5px 5px;
}

.entry-title {
  font-size: 18px;
  text-align: center;
}

.entry-form {
  position: relative;
  height: 100%;
  .form-item {
    padding: 0 18px;
  }
}

* {
  box-sizing: border-box;
}
