// 共通部分
.mypage {
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.mypage-content {
  background-image: url('/images/back.jpeg');
  background-size: cover;
  border: solid 1px #BF9C60;
  border-radius: 2px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

/* プロフィール */
.mypage-profile {
  display: grid;
  grid-template-areas: 'mp-header mp-header'
                       'mp-left   mp-right'
                       'mp-bottom mp-bottom';
  grid-template-columns: 60% 40%;
  grid-template-rows: 40px 300px 100px;
  position: relative;
}

.profile-header {
  background-image: linear-gradient(180deg, #BF9C60 50.28%, #8A8219 100%);

  border: solid 1px #BF9C60;
  font-size: 20px;

  grid-area: mp-header;
  line-height: 40px;
  text-align: center;
}

.profile-left {
  grid-area: mp-left;

  overflow: hidden;
}

.profile-right {
  grid-area: mp-right;
}

.profile-bottom {
  grid-area: mp-bottom;
}


.member-info__content {
  margin: 4px;
  margin-top: 10px;

  .info-label {
    background-color: #A9942E;
    border: solid 2px #BE9B64;
    border-radius: 2px 2px 0px 0px;
    display: inline-block;
    font-size: 14px;
    padding: 4px;
  }

  .info-data {
    padding: 4px;
    font-size: 13px;

    box-sizing: border-box;
    background-color: #F3EECE;
    border: solid 2px #BE9B64;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.fav-job-info {
  position: relative;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgba(33, 33, 33, 0.6);

  .fav-job-img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: auto;
      height: 100%;
    }
  }

  .fav-job-name {
    position: absolute;
    bottom: 10%;
    left: 10%;
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    width: 80%;

    background-color: #F3EECE;
    border: solid 2px #BE9B64;
    border-radius: 2px;
  }
}

.member-info__high-order-skills {
  .high-order-skill {
    padding: 2px 2px;

    &__level {
      float: right;

      .value {
        display: inline-block;
        width: 2em;
        text-align: right;
      }
    }
  }
}

.member-info__introduction {
  .info-data {
    min-height: 4em;
  }
}

/* スキル */

.mypage-skill {
}

.skill-header {
  background: linear-gradient(180deg, #BF9C60 50.28%, #8A8219 100%);
  padding: 8px 2px;
}

.skill-content {
  padding: 10px;
}

.skill-tab {
  display: flex;

  .skill-tab-item {
    flex: 1;
    text-align: center;
    padding: 8px 0 4px 0;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    color: #000000;
    text-decoration: none;
    width: 100%;

    border: solid 1px #BE9B64;
    background-color: #F3EECE;

    &.active {
      background-color: #A9942E;
    }
  }
}

.skill-list {
  border: solid 2px #BE9B64;
  background-color: #F3EECE;

  padding: 10px;
}

.skill-item {
  border: 2px solid #AA9520;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.learned {
    background: linear-gradient(180deg, #00B93B 16.26%, #000 91%);
  }

  &.not-learned {
    background: linear-gradient(180deg, #ddd 16.26%, #333333 91%);
  }

  &__name {
    font-size: 16px;
  }

  &__level, &__status {
    font-size: 13px;
    float: right;
  }
}

.mypage-skill-course-list {
  display: flex;
}

.mypage-skill-course-item {
  margin-right: 15px;
}

.mypage-skill-list {

}

.mypage-skill-item {
  display: flex;
  margin-bottom: 15px;
  background: gray;
}

.mypage-job {
  position: relative;
  margin: 30px 0 0;
  padding: 15px;
  background: white;
}

.mypage-job-course-list {
  display: flex;
}

.mypage-job-course-item {
  margin-right: 15px;
}

.mypage-job-item {
  background: gray;
}

.mypage-job-link {
  display: flex;
}
