.party-management-nav {
  display: flex;
  justify-content: center;
}

.party-management-nav-link {
  width: 33.3%;
  padding: 6px 15px;
  text-align: center;
  background: #fffcdb;
  border: 1px solid #9C4E19;
  border-radius: 5px 5px 0 0;
  &.active {
    background: #B6AD45;
  }
}

.party-management {
  overflow: hidden;
  padding: 0 18px;
  background: #fffcdb;
  border: 1px solid #9C4E19;
  border-radius: 0 0 5px 5px;
}

.party-management-list {
  margin: 12px 0 !important;
}

.party-management-item {
  border: 1px solid black;
  border-radius: 5px;
}

.applicant-list-move {
  display: block;
  margin: 15px auto 0;
  padding: 6px 0;
  text-align: center;
  background: linear-gradient(180deg, #F2C94C 52.49%, #857730 100%);
  border: 1px solid #7F2509;
}
.party-management-title {
  margin: 12px 0;
  font-size: 15px;
}

.party-management-body {
  padding: 0 !important;
}

.party-recruiting-status {
    display :flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
    &.mod-yellow {
        background: #F2C94C;
        border-right: 1px solid #947A29;
    }
    &.mod-gray {
        background: #828282;
        border-right: 1px solid #333333;
    }
}

.party-management-body-title {
    font-size: 16px;
}

.party-management-body-content {
    padding: 18px 12px;
    p {
      font-size: 13px;
      span {
        margin-left: 6px;
      }
    }
}

.party-management-detail {
    &.marginb {
      margin-bottom: 9px;
    }
}
