.search{
  width: 90%;
  margin: 0 auto;
}

.search-warp{
  padding: 12px 21px;
  border: 3px solid #C39300;
  border-radius: 4px;
  background: linear-gradient(180deg, #AB8359 0%, #543918 100%);
}

.search-title {
  margin-bottom: 12px;
  font-size: 15px;
  color: white;
}

.search-input {
  border: 0px;
}

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  border-radius: 0 7px 7px 0 !important;
}

.search-options {
  padding: 12px 15px;
  margin-bottom: 30px;
  border: 3px solid #C39300;
  border-radius: 4px;
  background: linear-gradient(180deg, #AB8359 0%, #543918 100%);
  p {
    margin: 0 6px;
    color: white;
  }
}

.search-options-title {
  margin-bottom: 6px;
  font-size: 18px;
  color: white;
}

.search-options-item {
  margin-bottom: 6px;
}
