.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

//img
.map{
  background: url(/images/back.jpeg) no-repeat center center;
  background-size: cover;
}
.chara{
  background: url(/images/back.png) no-repeat center center;
  background-size: 150%;
  left: 40px;
}
.opasity{
  background-color: black;
  opacity: .7;
  animation-name: none;
}

.board{
    background: url(/images/board.jpg) no-repeat;
    background-size: cover;
}

.poster {
    background: url(/images/TapStart.png) no-repeat center center;
    background-size: 100%;
}
//layer
.layer{
  position: absolute;
  width: 100vw;
  height: 100vh;

  &.mod-character {
    img {
      position: absolute;
      bottom: 40px;
      height: auto;
      width: 100%;
    }

    &.mod-right {
      right: -30px;
    }
  }
}
.layer1{
  z-index: 0;
}
.layer2{
  z-index: 1;
}
.layer3{
  z-index: 2;
}
.layer4{
  z-index: 3;
}
