.btn{
  width: 110px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 12px;
}

.btn-wrap{
  width: 100%;
}

.btn-small {
  width: 55px;
}

.btn-circle {
  border-radius: 50%;
}

.btn-head-nav {
  background: linear-gradient(180deg, #0045FF 0%, #000105 97.79%);
}

.btn-gloss {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.6) inset;
  &:after {
    content: "";
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 15%;
    top: 15%;
    filter: blur(2px);
    transform: rotateZ(45deg) scaleY(0.8);
  }
}

.btn-next {
  color: white;
  background: linear-gradient(180deg, #10A8FF 45.86%, #0E3D58 100%);
}

.btn-register {
  color: white;
  background: linear-gradient(180deg, #F2994A 45.86%, #EB5757 100%);
}
