.form{
  display: flex;
  flex-direction: column;
}
.form-item {
  width: 100%;
  margin-bottom: 15px;
}
.form-item-title{
  margin-bottom: 3px;
  font-size: 15px;
  color: white;
  line-height: 1.5;
}
.form-error{
  margin: 9px 0;
  font-size: 12px;
  color: yellow;
}

.form-item-body {
  
}
