input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
} 

.radio-name{
  margin-right: 6px;
  font-size: 12px;
  color:white;
}

.radio-group {
  display: flex;
  margin-right: 12px;
  align-item: center;
}

.input-wrap {
  position: relative;
}

.input{
  width: 100%;
  height: 30px;
  font-size: 12px;
  border: solid 1px;
  border-radius: 7px;
  text-indent: 6px;
}

.input-large{
  height: 50px;
}

.textarea {
  height: 70px;
  padding: 6px 3px;
}

