input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
} 

.radio-name{
  color:white;
}

.radio-btn-large {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   margin-left: 6px;
}

.input{
  width: 100%;
  height: 30px;
  border: solid 1px;
  border-radius: 7px;
  text-indent: 6px;
}

.input-large{
  height: 50px;
}

.textarea {
  height: 100px;
  padding: 6px 3px;
}

